@font-face {
	font-family: 'Comfortaa';
	src: url(fonts/Comfortaa-Medium.ttf) format('truetype');
	font-weight: normal;
	font-style: normal;
}

body {
	background-color: #B8E1D9;
}

#helper {
	column-gap: 10px;
	column-count: 2;
	margin: 5px;
}

@media (max-width: 800px) {
	#helper {
		column-count: 1;
	}
}

#head {
	display: flex;
	gap: 10px;
	padding: 10px;
	background-color: #5EBAA6;
	color: #237C6C;
	font-family: Comfortaa;
	border-radius: 10px;
	font-size: 20px;
	margin-top: 15px;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 20px;
	position: sticky;
	top: 15px;
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
}

#general_title {
	display: block;
}

@media(max-width: 800px) {
	#general_title {
		display: none;
	}
}

#create_list {
	font-size: 20px;
	margin-left: auto;
}

button {
	border-style: none;
	margin-top: 5px;
	margin-bottom: 5px;
	font-family: Comfortaa;
	border-radius: 10px;
	background-color: #237C6C;
	color: white;
	font-size: 1.5rem;
	transition: background-color 0.2s ease, transform 50ms ease-out;
}

button:hover {
	background-color: #247365;
}

button:active {
	background-color: #1f5c51;
	transform: scale(0.95, 0.95);
}

.todo_buttons {
	display: flex;
}

.create_todo_element {
	font-size: 15px;
	border-radius: 5px;
}

.remove_todo_element {
	margin-left: auto;
	font-size: 15px;
	border-radius: 5px;
}

.todo_element {
	display: flex;
	align-items: center;
	gap: 8px;
}

.elements_div {
	display: flex;
	flex-direction: column;	
}

.check_todo {
	appearance: none;
	width: 15px;
	height: 15px;
	background-color: white;
	border: 0px;
	border-radius: 5px;
}

.check_todo:checked {
	background-color: #237C6C;
}

.todo {
	margin-bottom: 10px;
	break-inside: avoid;
	padding: 10px;
	background-color: #5EBAA6;
	color: #237C6C;
	font-family: Comfortaa;
	border-radius: 10px;
	font-size: 14px;
	box-sizing: content-box;
}

.rename {
	font-size: 20px;
	width: 300px;
	background-color: #5EBAA6;
	padding: 10px;
	color: #237C6C;
	font-family: Comfortaa;
	border-radius: 10px;
	position: absolute;
	top: 100px;
	right: 0px;
	box-sizing: content-box;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
	padding: 10px;
}

@media(max-width: 800px) {
	.rename {
		width: 94.5%;
	}
}

.rename_input {
	font-family: Comfortaa;
	font-size: 14px;
	appearance: none;
	width: 98.5%;
	border: 0;
	border-radius: 5px;
	margin-bottom: 10px;
}

.imgborder {
	border-radius: 10px;
}
